<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<html lang="ja"></html>
<title>List Menu | Soundtrack List</title>
<link href="style.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
	<div class="all">
	<!--ヘッダー-->
        <%= render "layouts/header.html.erb" %>
			
		<!--タイトル欄-->
		<div class="mainContents">		
			<div class="MainBoxMenu">
				<ul>
					<div class="mainTab">
						<label for="listSWMain"><li><h2 class="newListTitle">Star Wars</h2></li></label>
						<input type="checkbox" id="listSWMain"/>			
						<div class="hiddenShow">
							<label for="listSWMandoMain"><li class="side2Main">The Mandalorian</li></label>
							<input type="checkbox" id="listSWMandoMain"/>
							<div class="hiddenShow">
								<li class="side3Main"><a href="list/MandalorianS1.html">Season1</a></li>
								<li class="side3Main"><a href="list/MandalorianS2.html">Season2</a></li>
							</div>
						</div>
					</div>

                    <div class="mainTab">
                        <% @level1_works.each do |level1| %>
                            <label for="listSWMain"><li><h2 class="newListTitle"><%= link_to level1.name, work_path(level1.name) %></h2></li></label>
                            <% @level2_works.each do |level2| %>
                                <% if level2.relation == level1.name then %>
                                    <label for="listSWMandoMain"><li class="side2Main"><%= link_to level2.name, work_path(level2.name) %></li></label>  
                                <% end %>
                                <% @level3_works.each do |level3| %>
                                    <% if level3.relation == level2.name and level2.relation == level1.name then %>
                                        <li class="side3Main"><%= link_to level3.name, work_path(level3.name) %></a></li>
                                    <% end %> 
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
				</ul>
			</div>
		</div>
	</div>
	
</body>
</html>
