<!--タイトルサイドボックス-->
<div class="SideBox">
    <ul>
        <label for="listAlbum" id="titleListPhone"><li>Title List</li></label>
        <input type="checkbox" id="listAlbum"/>
        <div class="hiddenShowPhone">
            <div class="SideTab">
                <label for="listSW"><li>Star Wars</li></label>
                <input type="checkbox" id="listSW"/>			
                <div class="hiddenShow">
                    <label for="listSWMando"><li class="side2">The Mandalorian</li></label>
                    <input type="checkbox" id="listSWMando"/>
                        <div class="hiddenShow">
                            <li class="side3"><a href="MandalorianS1.html">Season1</a></li>
                            <li class="side3"><a href="MandalorianS2.html">Season2</a></li>
                        </div>
                </div>
            </div>
        </div>
    </ul>
</div>